@main-bg : #91D3F5;
@blanc-clair: white;
@header: #42A6E4;
@form : #CEF1F5;

body {
    background-color: @main-bg !important;
}

.center {
    text-align: center;
}

.header {
    border-bottom: black 2px solid;
    background-color: @header;
    height: 100px;
    color: white;

    #header_flexbox{
        height:80px;
        padding-top: 20px;
        margin: 0px 20px 0px 20px;
        display: flex;
        justify-content: space-between;
    }

    .action_icons{
        display: flex;

        a{
            &hover{
                color:white;
            }

            &:first-of-type{
                color:white;
                margin-right: 20px;
            }
        }

        
        .dropdown_trigger{
            display: flex;
            flex-direction: column;
            text-align: center;
            .svg_dropdown{
        
                &:hover{
                    cursor:pointer;
                }
            }

            .dropdown-item{
                color:black
            }
    }
    }

}

.container {

    min-height: 100vh;
    border: 2px solid grey;
    box-shadow: 0px 3px 10px black;
    border-top: none;
    border-bottom: none;
    background-color: @blanc-clair;

    #login_form,
    #register_form {
        background-color: @form;
        box-shadow: 3px 3px 3px black;
        border-radius: 20px;
        padding: 20px;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 5vh;

        h1,
        .alert {
            .center()
        }
    }
}

#mangaPage{

    h1 {
        text-align: center;
        padding: 20px
    }

    .flexbox {
        @media (min-width:992px) {
            display: flex;
        }

        padding: 20px;

        .flexbox-left {
            @media (min-width:992px) {
                flex: 0.50;
            }

            text-align: center;

            img {
                width: 50%;

                @media (min-width:992px) {
                    width: 80%;
                }

            }
        }

        .flexbox-right {

            padding-top: 10px;

            @media (min-width:992px) {
                padding-top: 0px;
                flex: 1;
            }

            text-align: justify;
        }

    }
}

#cartPage{

    h1 {
        text-align: center;
        padding: 20px
    }

    .cartItem{
        outline:black solid 2px;
        padding: 10px;
        margin: 10px;
        border-radius:10px;
    
        a{
            color: black;
        }

        .flexbox{
            display: flex;
            
            .flexbox-img{
                
                padding-right:10px;

                img{
                    height:115px
                }
            }
        }
    }
}