<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet/less" type="text/css" href="/style/base.less">
  <script src="https://cdn.jsdelivr.net/npm/less" ></script>

</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>

