<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet/less" type="text/css" href="/style/base.less">
  <script src="https://cdn.jsdelivr.net/npm/less" ></script>

</head>
<body>
    {% block body %}{% endblock %}

    <select id="language_select">
      <option value="FR" 
        {% if language["key"] == "FR" %}
          selected
        {% endif %}>
        FR
      </option>
      <option value="EN" 
        {% if language["key"] == "EN" %}
          selected
        {% endif %}>
        EN
      </option>
    </select>

    <script src="js/language_switch.js"></script>
</body>
</html>

