{% extends 'base.html.twig' %}

{% block title %}Mon super site{% endblock %}

{% block body %}
    
    <section class="">
        <div>
            <img></img>
            <p>{{language["free_shipping"]}}</p>
        </div>

        <div>
            <img></img>
            <p>{{language["fast_shipping"]}}</p>
        </div>
    </section>

    <section class="best_seller">
        <h4>{{language["best_seller"]}}</h4>

        <div>
            <img></img>
            <h5></h5>
            <p></p>
            <button></button>
        </div>
        <div>
            <img></img>
            <h5></h5>
            <p></p>
            <button></button>
        </div>
        <div>
            <img></img>
            <h5></h5>
            <p></p>
            <button></button>
        </div>
    </section>

    <section class="last_manga">
        <h4>{{language["last_manga"]}}</h4>

        <div>
            <img></img>
            <h5></h5>
            <p></p>
            <button></button>
        </div>
        <div>
            <img></img>
            <h5></h5>
            <p></p>
            <button></button>
        </div>
        <div>
            <img></img>
            <h5></h5>
            <p></p>
            <button></button>
        </div>
    </section>

{% endblock %}
