{% extends 'base.html.twig' %}

{% block title %}Anga{% endblock %}

{% block body %}
    
    <div class="container" id="homePage">
    &nbsp;
        <div id="logoimg">
            <img src="https://cdn.discordapp.com/attachments/891090590048075786/1052374499884015616/anga_mob_opm.png">
        </div>

        <div id="homeContent">
        <a href="/products">
            <button class="btn btn-primary">
                {{language["seeProducts"]}}
            </button><br/>
        </a>

        {% if not user %}
            <a href="/login">{{language["login"]}}</a> - 
            <a href="/register">{{language["register"]}}</a>
        </div>
        {% endif %}
    </div>

{% endblock %}
