{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    
    <div class="container center" id="login_form">

    {% if error %}
        bruh burth fdp erreur :((((((
    {% endif %}
    
        <form method="post" action="/login">
            <label>Username : </label><br/>
            <input type="text" placeholder="Username" name="username"><br/>
            <label>Password : </label><br/>
            <input type="password" placeholder="Password" name="password"><br/>
            <input type="submit" class="btn">
        </form

    </div>


{% endblock %}
