{% extends 'base.html.twig' %}

{% block title %}Edit manga{% endblock %}

{% block body %}
    
    <h1>Suppression de manga</h1>
    <small>Cette page permet à un administrateur la suppression de la série du manga.</small>

    
{% endblock %}