{% extends 'base.html.twig' %}

{% block title %}Edit manga{% endblock %}

{% block body %}
    
    Retour à la page de <a href="/mangaEdit">modification des mangas</a>

    <h1>Modification manga (choix volume)</h1>
    <small>Cette page permet à un administrateur de selectionner le volume d'un manga à modifier.</small>

    <div>
        <form>
            <div class="mb-3 col-3">
                <label for="searchedManga" class="form-label">Manga à modifier</label>
                <input type="text" class="form-control" id="searchedManga" placeholder="Manga à rechercher">
                
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#helpModal">Aide</button>

                <!-- Modal -->
                <div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="helpModal">Explication des boutons</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>
                                <h5>Modifier (série) :</h5>
                                <ul>
                                    <li>Permet de modifier les informations liés à la série du manga. (titre manga, couverture, etc.)</li>
                                </ul>
                            </li>
                            <li>
                                <h5>Modifier (volume) :</h5>
                                <ul>
                                    <li>Permet de modifier les informations liés aux volumes du manga. (prix, couverture, etc.)</li>
                                </ul>
                            </li>
                            <li>
                                <h5>Supprimer (série):</h5>
                                <ul>
                                    <li>Permet de supprimer la visibilité de la série du manga.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                    </div>
                </div>
                </div>

            </div>
        </form>
    </div>

        <button type="button" class="btn btn-success">Nouveau volume</button>

    <div id="list_manga" class="mb-3 col-8">
        <table class="table table-striped">
            {% for manga in mangas %}
                <tr>
                    <td>{{ manga.volume_number }}</td>
                    <td><a href="/mangaVolumeEdit?title={{title}}&volume_number={{manga.volume_number}}">Modifier (volume)</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
