{% extends 'base.html.twig' %}

{% block title %}Mon super site{% endblock %}

{% block body %}

<div class="container center" id="register_form">

        <form method="post" action="/register">
            <label>Username : </label><br/>
            <input type="text" placeholder="Username" name="username"><br/>
            <label>Email : </label><br/>
            <input type="email" placeholder="email" name="email"><br/>
            <label>Password : </label><br/>
            <input type="password" placeholder="Password" name="password"><br/>
            <label>Confirm Password : </label><br/>
            <input type="password" placeholder="Password" name="password2"><br/>
            <input type="submit" class="btn">
        </form>

        {% if errors["empty_user"] %}
            <label>Utilisateur vide</label> <br/>
        {% endif %}

        {% if errors["empty_email"] %}
            <label>email vide</label><br/>
        {% endif %}

        {% if errors["empty_pass1"] %}
            <label>Mdp1 vide</label><br/>
        {% endif %}

        {% if errors["empty_pass2"] %}
            <label>Mdp2 vide</label><br/>
        {% endif %}

        {% if errors["match_password"] %}
            <label>mdp non correspondant</label><br/>
        {% endif %}

        {% if errors["dupe_username"] %}
            <label>username déjà dans DB</label><br/>
        {% endif %}

        {% if errors["dupe_email"] %}
            <label>email déjà dans DB</label><br/>
        {% endif %}
    </div>

{% endblock %}